<!DOCTYPE html>
<html>
    <head>
        <title>
            TP passport local + Sequelize
        </title>
    </head>
    <body>
        <h2>HOME</h2>
        <h5>Vous êtes connecté.</h5>
    </body>
</html>