<!DOCTYPE html>
<html>
    <head>
        <title>
            TP passport local + Sequelize
        </title>
    </head>
    <body>
        <form id="signin" name="signin" method="POST" action="signin">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="Submit" value="Sign In">
        </form>
    </body>
</html>