<!-- /views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Mon Application</h1>
        <nav>
            <ul>
                <li><a href="/signup">Inscription</a></li>
                <li><a href="/signin">Connexion</a></li>
                <li><a href="/home">Accueil</a></li>
                <!-- Ajouter d'autres liens si nécessaire -->
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Fait par Sugdenaz EKICI et Leslie MERAT</p>
    </footer>
</body>
</html>
